body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1,
h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

button {
    margin-top: 10px;
}

#fruits-list {
    margin-top: 20px;
}

#fruits {
    list-style-type: none;
    padding: 0;
}

#fruits li {
    margin-bottom: 5px;
}